
    <div class="sign-in" id="sign-in-info">
    <h1>Sign in</h1>
    <form action="/auth/sign-in" method="POST" id="sign-in-form">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" placeholder="Username" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password"  placeholder="Password"  />
      <button class="control-button in" type="submit">Sign in</button>
    </form>
   </div>
