<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Data</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="container-healthData">
        <header class="header">
          <h1>Clients Health Records</h1>
          <a href="healthData/new" class="btn-add-client">+ Add a New Client</a>
        </header>
        <div class="card-container">
          <% healthData.forEach((record) => { %>
            <div class="card">
              <h3><%= record.name %>'s Record</h3>
              <p>Submitted by: <strong><%= record.userId ? record.userId.username : "Unknown" %></strong></p>
              <a href="/healthData/<%=record._id %>" class="btn-view-details">View More Details</a>
            </div>
          <% }) %>
        </div>
      </div>
      
</body>
</html>