<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Data</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Clients Health Records</h1>

    <ul>
        <% healthData.forEach((healthData) => { %>
      
            <li>
                <%= healthData.name %>'s record submitted by <%= healthData.userId ? healthData.userId.username : "Unknown" %>
                <a href="/healthData/<%=healthData._id %>">View more details</a>
            </li>
             
           
        <% }) %>
    </ul>
<a href="healthData/new">Add a New Client</a>
</body>
</html>
