<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Health Data</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>New Personal Health Metrics</h1>
    <form>
        <label for="age">Age (15-80)</label>
        <input type="number" name="age" id="age" min="15" max="80" required />
      
         <label for="male"> Male <input type="radio" id="male" name="gender" value="male" checked /></label>
        <label for="female">Female<input type="radio" id="female" name="gender" value="female" /></label>
    
    
        <label for="weight">Weight (kg)</label>
        <input type="number" name="weight" id="weight"  min="0" required  />
      
        <label for="height">Height (cm)</label>
        <input type="number" name="height" id="height"  min="0" required />
      
        <label for="activityLevel">Activity Level</label>
        <select name="activityLevel" id="activityLevel" required>
          <option value="sedentary">Sedentary</option>
          <option value="light">Light</option>
          <option value="moderate">Moderate</option>
          <option value="heavy">Heavy</option>
          <option value="very heavy">Very Heavy</option>
        </select>
      
        <button type="submit">Submit</button>
    </form>    
</body>
</html>
