<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/js/script.js"></script> <!-- Include your JavaScript file -->
  </head>
  <body>
    <div class="container">
      <div class="overlay" id="overlay">
        <div class="sign-in" id="sign-in">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="switch-button" id="slide-right-button">Sign In</button>
        </div>
        <div class="sign-up" id="sign-up">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start a journey with us</p>
          <button class="switch-button" id="slide-left-button">Sign Up</button>
        </div>
      </div>

      <div class="form">
        <%- include('./auth/sign-in.ejs') %> 
        <%- include('./auth/sign-up.ejs') %> 
      </div>
    </div>
  </body>
</html>
