
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #f9f7f0;
  }

  .landing-header {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    justify-content: space-between;
  }
  
  .logo-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px 35px;
  }
  
  .logo-container > h1 {
    margin: 0;
    font-size: 1.4em;
  }
  
  .house-icon {
    background-image: url('https://cdn-icons-png.flaticon.com/128/11382/11382524.png');
    width: 1.4em;
    height: 1.4em;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2px;
    padding-left: 5px;
  }
  
  .landing-image {
    background-image: url('https://images.unsplash.com/photo-1448630360428-65456885c650');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 0 -8px;
  }
  
  .auth-links,
  .nav-links {
    margin: 25px 20px;
  }
  
  .auth-links > a {
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .auth-links > a:first-child {
    background-color: #274c9c;
  }
  
  .auth-links > a:first-child:hover {
    background-color: black;
    color: white;
  }
  
  .auth-links > a:nth-child(2) {
    background-color: #6f8dae;
  }
  
  .auth-links > a:nth-child(2):hover {
    background-color: black;
    color: white;
  }
  
  .nav-links > a {
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    color: black;
  }
  
  .nav-links > a:hover {
    color: #6f8dae;
    text-decoration: underline;
  }
  .signup-page,
.signin-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.signup-form-container-1,
.signin-form-container-1 {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup-form-container-2,
.signin-form-container-2 {
  padding: 10px 30px 20px;
  border: 1px solid gray;
}

.signup-form-container-2 > h1,
.signin-form-container-2 > h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5em;
}

.signup-form-container-2 > form,
.signin-form-container-2 > form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9em;
}

input {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  margin: 10px 0;
  width: 15em;
  padding: 5px;
}

button {
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  background-color: #274c9c;
  padding: 7px 15px;
  margin: 10px 0;
}

button:hover {
  background-color: black;
}

.signup-img {
  background-image: url('https://images.unsplash.com/photo-1600607687486-6cced9976e79');
  min-height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  position: relative;
  z-index: -10;
}
.signin-img {
    background-image: url('https://images.unsplash.com/photo-1479839672679-a46483c0e7c8');
    min-height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    position: relative;
    z-index: -10;
    left: -10px;
  }
  .index-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 90%;
  }
  
  .index-header > h1 {
    text-transform: uppercase;
    font-size: 1.5em;
  }
  
  .index-header > a {
    padding: 6px 12px;
    border: 1px solid gray;
    text-decoration: none;
    color: black;
  }
  
  .index-header > a:hover {
    background-color: black;
    color: white;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 70px;
  }
  
  .card-container > a {
    padding: 12px 25px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 30px 50px;
    color: black;
  }
  
  .card-container > a:hover {
    background-color: black;
    color: white;
  }
  
  a > h4 {
    font-weight: normal;
    font-size: 1em;
  }
  .new-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  
  .new-form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 10px 40px;
  }
  
  .new-form-container > h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.6em;
  }
  
  .new-form-container > form {
    display: flex;
    flex-direction: column;
  }
  
  .new-form-container > form > input {
    width: 38em;
  }
  
  .new-form-container > form > button {
    margin-bottom: 20px;
  }
  /* Form container styling */
form {
    width: 100%;
    max-width: 400px; /* Set a max-width for better layout */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
  }
  
  /* Block styling for form elements */
  form label, 
  form input[type="number"], 
  form select, 
  form button {
    display: block;
    width: 100%;
    margin-bottom: 15px; /* Space between elements */
  }
  
  /* Inline styling for radio buttons and their labels */
  .radio-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between radio buttons */
    margin-bottom: 15px; /* Space after the radio button group */
  }
  
  .radio-group label {
    display: inline; /* Keep label inline with the radio button */
  }
  
  /* Radio buttons styling */
  form input[type="radio"] {
    display: inline-block; /* Ensure radio button remains inline */
    width: auto; /* Reset width */
  }
  


  :root{
    --form-height:550px;
    --form-width: 900px;
    /*  Sea Green */
    --left-color: #9fdeaf;
    /*  Light Blue  */
    --right-color: #96dbe2;
  }
  
  body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
  }
  
  .container{
    width: var(--form-width);
    height: var(--form-height);
    position: relative;
    margin: auto;
    box-shadow: 2px 10px 40px rgba(22,20,19,0.4);
    border-radius: 10px;
    margin-top: 50px;
  }
  /* 
  ----------------------
        Overlay
  ----------------------
  */
  .overlay{
    width: 100%; 
    height: 100%;
    position: absolute;
    z-index: 100;
    background-image: linear-gradient(to right, var(--left-color), var(--right-color));
    border-radius: 10px;
    color: white;
    clip: rect(0, 385px, var(--form-height), 0);
  }
  
  .open-sign-up{
      animation: slideleft 1s linear forwards;
  }
  
  .open-sign-in{
      animation: slideright 1s linear forwards;
  }
  
  .overlay .sign-in, .overlay .sign-up{
    /*  Width is 385px - padding  */
    --padding: 50px;
    width: calc(385px - var(--padding) * 2);
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px var(--padding);
    text-align: center;
  }
  
  .overlay .sign-in{
    float: left;
  }
  
  .overlay-text-left-animation{
      animation: text-slide-in-left 1s linear;
  }
  .overlay-text-left-animation-out{
      animation: text-slide-out-left 1s linear;
  }
  
  .overlay .sign-up{
    float:right;
  }
  
  .overlay-text-right-animation{
      animation: text-slide-in-right 1s linear;
  }
  
  .overlay-text-right-animation-out{
      animation: text-slide-out-right 1s linear;
  }
  
  
  .overlay h1{
    margin: 0px 5px;
    font-size: 2.1rem;
  }
  
  .overlay p{
    margin: 20px 0px 30px;
    font-weight: 200;
  }
  /* 
  ------------------------
        Buttons
  ------------------------
  */
  .switch-button, .control-button{
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    background: none;
    border-radius: 20px;
    color: white;
  }
  
  .switch-button{
    border: 2px solid;
  }
  
  .control-button{
    border: none;
    margin-top: 15px;
  }
  
  .switch-button:focus, .control-button:focus{
    outline:none;
  }
  
  .control-button.up{
    background-color: var(--left-color);
  }
  
  .control-button.in{
    background-color: var(--right-color);
  }
  
  /* 
  --------------------------
        Forms
  --------------------------
  */
  .form{
    width: 100%; 
    height: 100%;
    position: absolute;
    border-radius: 10px;
  }
  
  .form .sign-in, .form .sign-up{
    --padding: 50px;
    position:absolute;
      /*  Width is 100% - 385px - padding  */
    width: calc(var(--form-width) - 385px - var(--padding) * 2);
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px var(--padding);
    text-align: center;
  }
  
  /* Sign in is initially not displayed */
  .form .sign-in{
    display: none;
  }
  
  .form .sign-in{
    left:0;
  }
  
  .form .sign-up{
    right: 0;
  }
  
  .form-right-slide-in{
    animation: form-slide-in-right 1s;
  }
  
  .form-right-slide-out{
    animation: form-slide-out-right 1s;
  }
  
  .form-left-slide-in{
    animation: form-slide-in-left 1s;
  }
  
  .form-left-slide-out{
    animation: form-slide-out-left 1s;
  }
  
  .form .sign-in h1{
    color: var(--right-color);
    margin: 0;
  }
  
  .form .sign-up h1{
    color: var(--left-color);
    margin: 0;
  }
  
  .social-media-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px;
  }
  
  .social-media-buttons .icon{
    width: 40px;
    height: 40px;
    border: 1px solid #dadada;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 7px;
  }
  
  .small{
    font-size: 13px;
    color: grey;
    font-weight: 200;
    margin: 5px;
  }
  
  .social-media-buttons .icon svg{
    width: 25px;
    height: 25px;
  }
  
  #sign-in-form input, #sign-up-form input{
    margin: 12px;
    font-size: 14px;
    padding: 15px;
    width: 260px;
    font-weight: 300;
    border: none;
    background-color: #e4e4e494;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1.5px;
    padding-left: 20px;
  }
  
  #sign-in-form input::placeholder{
    letter-spacing: 1px;
  }
  
  .forgot-password{
    font-size: 12px;
    display: inline-block;
    border-bottom: 2px solid #efebeb;
    padding-bottom: 3px;
  }
  
  .forgot-password:hover{
    cursor: pointer;
  }
  
  /* 
  ---------------------------
      Animation
  ---------------------------
  */
  @keyframes slideright{
    0%{
      clip: rect(0, 385px, var(--form-height), 0);
    }
    30%{
          clip: rect(0, 480px, var(--form-height), 0);
    }
    /*  we want the width to be slightly larger here  */
    50%{
       clip: rect(0px, calc(var(--form-width) / 2 + 480px / 2), var(--form-height), calc(var(--form-width) / 2 - 480px / 2));
    }
    80%{
           clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 480px));
    }
    100%{
       clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 385px));
    }
  }
  
  @keyframes slideleft{
    100%{
      clip: rect(0, 385px, var(--form-height), 0);
    }
    70%{
          clip: rect(0, 480px, var(--form-height), 0);
    }
    /*  we want the width to be slightly larger here  */
    50%{
       clip: rect(0px, calc(var(--form-width) / 2 + 480px / 2), var(--form-height), calc(var(--form-width) / 2 - 480px / 2));
    }
    30%{
           clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 480px));
    }
    0%{
       clip: rect(0px, var(--form-width), var(--form-height), calc(var(--form-width) - 385px));
    }
  }
  
  @keyframes text-slide-in-left{
    0% {
      padding-left: 20px;
    }
    100% {
      padding-left: 50px;
    }
  }
  
  @keyframes text-slide-in-right{
    0% {
      padding-right: 20px;
    }
    100% {
      padding-right: 50px;
    }
  }
  
  @keyframes text-slide-out-left{
    0% {
      padding-left: 50px;
    }
    100% {
      padding-left: 20px;
    }
  }
  
  @keyframes text-slide-out-right{
    0% {
      padding-right: 50px;
    }
    100% {
      padding-right: 20px;
    }
  }
  
  @keyframes form-slide-in-right{
    0%{
      padding-right: 100px;
    }
    100%{
      padding-right: 50px;
    }
  }
  
  @keyframes form-slide-in-left{
    0%{
      padding-left: 100px;
    }
    100%{
      padding-left: 50px;
    }
  }
  
  @keyframes form-slide-out-right{
    0%{
      padding-right: 50px;
    }
    100%{
      padding-right: 80px;
    }
  }
  
  @keyframes form-slide-out-left{
    0%{
      padding-left: 50px;
    }
    100%{
      padding-left: 80px;
    }
  }
  
